:root {
    --primary-color: #2BAAEC;
    --secondary-color: #25E6C8;
    --pri-background-color: #fff;
    --sec-background-color: #F7F7F7;
    --title-color: #363636;
    --text-color: #626262;
    --shadowWoman-color:#BFBFBF;
    --shadowMan-color: #DEDEDE;
    
  }