@import './colors.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
  }
 
  /* HJÄLPKLASSER */

  .container {
    width: 100%;
    margin: auto;
    padding: 0 1rem;
  }
  .d-flex {
    display: flex;
    justify-content:space-between; 
    
  }

  .mt {
    margin-top: 1rem;
  }
  .p {
    /* padding: .5rem; */
  }
/* TOP MENU  */

.border {
  border: solid 1px blue;
}

.top-nav {
  border-color: #707070;
  display: none;
 }

 .top-nav .container,
 .navbar .container{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  background-color: var(--pri-background-color);
 }

.container span {
  padding-right: .5rem;
  color: var(--primary-color);
}

.top-nav p{
  font-size: 16px;
  font-family: Roboto;
} 
 .social-icons a{
  margin-left: 2rem;
}
/* MAIN-MENU */

.navbar-nav {
  list-style: none;
  display: flex;
}
.navbar-nav li a {
text-decoration: none;
}

 .nav-link {
   margin-left: 2rem;
 }   
  
.collapse:not(.show) {
display: none;
}

.navbar-toggler{
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 2rem;
  margin-right: 2rem;
  color: var(--primary-color);
}
.container .navbar-nav {
 

  
}
/* SHOWCASE */
.showcase {
  background-color: var(--shadowMan-color);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.showcase .container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.showcase .container h1{
  font-size: 22px;
  font-family: Roboto slab;
  font-weight: normal;
  margin-bottom: 1rem;
}

.showcase .container p{
  font-size: 16px;
  font-family: Roboto;
  font-weight: normal;
}
.showcase .container img {
  display: none;
}
.content {
  /* align-self: center;
  text-align: center; */
}

.container .btn{
  width: 239px;
  height: 60px;
  font-size: 18px;
  font-family: Roboto;
  font-weight: bold;
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  border-radius: 10px;
 }




/* ABOUT US */
.about-us {
  background-color: var(--pri-background-color);
  display: none;
}

.about-us .container img {
  width: 100%;
  height: 723.79px;
  
}
.about-us.content {
  height: 3400px;
 
}
.about-us .text {
  margin-bottom: 3rem;
  color: #f0cfb6;
}
.about-us .rubrik{
  color: #363636;
  font-family: Roboto Slab;
  font-size: 40px;
 }

.about-us .text p {
  color: #363636;
  font-family: Roboto;
  font-size: 18px;
}

.siffror{
display: flex;
flex-direction: column;
}

/* SERVICES */




.grid{
  background-color: var(--sec-background-color);
  margin-bottom: 1rem;
}
.text{
  padding: 1rem;
}
.text span hr{
  border: 0;
  border-radius: 10px;
  background:  var(--secondary-color);
  width: 450px;
  height: 4px;
  margin-top: .5rem;
  margin-left: 50%;
  transform: translate(-50%,-50%);
}
.container .grid-card {
  background-color: var(--sec-background-color);
  display: grid;

  
}



.card {
  border: 1px solid blue;
  border-radius: 10px;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: var(--pri-background-color);
  position: relative;
}

.circle {
  height: 120px;
  width: 120px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  background-color: var(--secondary-color);
  border-radius: 50%;
  position: relative;
}
.image {
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text {
  font-family: Roboto slab;
  font-size: 22;
  text-align: center;
}

p {
  font-size: 18px;
}

/* APPOINTMENT   */

.booking .btn-primary{
    background-color: var(--pri-background-color);
    color: var(--primary-color);
    margin-bottom: 1rem;
}
.appointment {
  background-color: var(--primary-color);
  color: var(--pri-background-color);
}

.appointment .text {
  display: flex;
  justify-content: center; 
  background-color: var(--primary-color);
  color: var(--pri-background-color);
}

.appointment .booking {
  display: flex;
  justify-content: center; 
  background-color: var(--primary-color);
  color: var(--pri-background-color);
}

/* FOOTER */

.container .social-icons {
  display: flex;
  justify-content: space-evenly;
  
}
.social-icons a {
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
  .navbar-toggler {
    display: none;
  }
  .collapse:not(.show) {
    display: block;
  }
  .navbar-nav {
    flex-direction: row;
  }
  
  .top-nav {
    display: block;
  }
  .container {
    max-width: 720px;
  }
  #showcase-container img {
    display: inline-block;
  } 
  .content {
    text-align: left;
  }
  .btn {
    width: auto;
  } 
} 

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .showcase .container img {
    /* visibility: visible; */
    display: block
  }

  .about-us {
    display: block;
  }
  .container .grid-card {
    height: 1349;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

  }
  .card {
    height: 439px;
    width: 450px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}