@import './colors.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
  }
 
  /* HJÄLPKLASSER */
  .container {
    width: 80%;
    margin: auto;
    padding: 0 1rem;
  }
  .d-flex {
    display: flex;
      
  }
  .mt {
    margin-top: 1rem;
  }
  
  .mb {
    margin-bottom: 1rem;
  }
/* .border{
  border:solid blue;
} */
  .social-icons a {
    text-decoration: none;
    color: var(--primary-color);
    display: none; 
  }
  .social-icons a:hover {
    color: var(--secondary-color);
  }
/* TOP MENU  */
.top-nav {
  border-bottom: solid 1px #7070707a;
  display: none;
 }
 .top-nav .container,
 .navbar .container{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  background-color: var(--pri-background-color);
 }
.top-nav .container span {
  padding-right: .5rem;
  color: var(--primary-color);
}
.top-nav p{
  font-size: 16px;
  font-family: 'Roboto';
} 
 .social-icons a{
  margin-left: 2rem;
}
/* MAIN-MENU */
.navbar .logo img{
  height: 3.5rem;
}
.navbar-nav {
  list-style: none;
  display: flex;
  font-family: 'Roboto slab"';
}
.navbar-nav li a {
text-decoration: none;
color: #363636;
}
 .nav-link {
   margin-left: 2rem;
 }   
  
.collapse:not(.show) {
display: none;
}
.navbar-toggler{
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 2rem;
  color: var(--primary-color);
}
.nav-link a:hover{
  color: var(--secondary-color);
}
/* SHOWCASE */
#showcase {
  background: var(--shadowMan-color);
  background-size: cover;
  /* min-height: 40vh; */
}
#showcase .container {
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
}
#showcase .container img {
  height: 500px;
  display: none;
}
#showcase .content {
  justify-content: center;
  text-align: center;
  padding: 2rem 0 2rem 0;
 }
#showcase .text {
  margin-bottom: 3rem;
  color: #363636;
}
#showcase .text h1 {
  font-size: 1.7rem;
  font-weight: normal;
  margin-bottom: 1rem;
}
#showcase .text p {
  font-size: 1.1rem;
  font-weight: 500;
}
#showcase .btn {
  padding: 1.5rem 2rem;
  border: 1px solid transparent;
  border-radius: 1rem;
  outline: none;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  font-size: 1rem;
  background-color: transparent;
  width: 15rem;
}
#showcase .btn-primary {
  background-color: var(--secondary-color);
  color: #fff;
}
#showcase .btn-primary:hover{
  background-color: var(--primary-color);
}
/* ABOUT US */
#about-us {
  background-color: var(--pri-background-color);
  padding-top: 2rem;
}
#about-us .container {
  background-color: var(--pri-background-color);
  padding-top: 1rem;
  margin-bottom: 2rem;
}
#about-us .container img {
  height: 550px;
  display: none;
 }
#about-us .content {
  justify-content: center;
  align-items: center;
  
}
#about-us .text {
  color: #f0cfb6;
}
.survey-grid {
  background-color: var(--pri-background-color);
  flex-direction: row;
  justify-content: space-between;
  padding-right: 1rem;
  padding-top: 2rem;
}
#about-us span{
  color: var(--primary-color);
  font-size: 30px;
  font-family: 'Roboto Slab';
  font-weight: normal;
}
#about-us h1{
  color: #363636;
  font-family: 'Roboto Slab';
  font-size: 25px;
  font-weight: normal;
  text-align: center;
 
 }
#about-us .text p {
  color: #363636;
  font-family: 'Roboto';
  font-size: 16px;
  text-align: center;
 }
#about-us .container .content hr{
  display: none;
  border: 0;
  border-radius: 10px;
  background:  var(--secondary-color);
  width: 550px;
  height: 3.5px;
  margin-left:17rem;
  transform: translate(-50%,-50%);
}
/* SERVICES */
.grid{
  background-color: var(--sec-background-color);
  padding-bottom: 2rem;
 
}
.grid .rubrik{
  padding: 1rem;
  font-size: 30px;
  font-family: Roboto Slab;
  font-weight: normal;
}
.grid .text span hr{
  border: 0;
  border-radius: 10px;
  background:  var(--secondary-color);
  width: 450px;
  height: 4px;
  margin-top: .5rem;
  margin-left: 50%;
  transform: translate(-50%,-50%);
}
#services .container {
  background-color: var(--sec-background-color);
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
 }
.card {
  width: 100%;
  border: 1px transparent;
  border-radius: 10px;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  background-color: var(--pri-background-color);
}
.card:hover {
  box-shadow: 0 0 10px 4px var(--shadowMan-color);
 }
.rubrik-card {
  padding-left: 2rem;
}
.card p {
  font-size: 16px;
  font-family: Roboto Slab;
  font-weight: normal;
}
.card .info-text{
  display: none;
  font-size: 16px;
  font-family: Roboto;
  font-weight: normal;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1.5rem;
}
.circle {
  height: 80px;
  width: 80px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  background-color: var(--secondary-color);
  border-radius: 50%;
  position: relative;
}
.card:hover .circle{
  background-color: var(--primary-color);
  outline: 10px solid #a2cfe781;
  
}
.image {
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text {
  font-family: Roboto slab;
  font-size: 22;
  text-align: center;
}
p {
  font-size: 18px;
}
/* APPOINTMENT   */
#appointment{
  background-color: rgb(43, 170, 236, 0.8);
  color: var(--pri-background-color);
}
#appointment .text-to-book {
  display: flex;
  justify-content: center;   
  text-align: center;
  padding: 2rem;
}
#appointment p{
  font-size: 30px;
  font-family: Roboto Slab;
  font-weight: normal;

} 
#appointment .booking .btn-primary{
  background-color: var(--pri-background-color);
  color: var(--primary-color);
  margin-bottom: 2rem;
}

#appointment .booking {
  display: flex;
  justify-content: center; 
  }
  #appointment .booking .btn-primary{
    background-color: var(--pri-background-color);
    color: var(--primary-color);
    margin-bottom: 2rem;
  }
  #appointment .booking .btn {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 239px;
  height: 60px;
  font-size: 18px;
  font-family: Roboto;
  font-weight: bold;
  background-color: var(--pri-background-color);
  color: var(--primary-color);
  border: none;
  border-radius: 10px;
  }
  #appointment .booking .btn:hover{
    background-color: transparent; 
    color: #fff;
    font-size: 17px;
    border: 0.5px solid var(--pri-background-color); 
  }
/* FOOTER */

.footer {
 background-color: var(--primary-color);
}
.c {
  display: none;
  text-align: center;
  background-color: var(--primary-color);
  color: rgb(151, 205, 235);
  padding: 1rem;
}
.c p {
  font-size: 16px;
}
.mobile-footer .container
 .footer-icons{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  background-color: var(--pri-background-color);
  padding-top: 1rem;
  padding-bottom: 1rem;
 }
 
.footer-icons a:hover {
  color: var(--secondary-color);
}
.mobile-footer .container .footer-icons a {
  text-decoration: none;
  color: var(--primary-color);
  display: block; 
}
/* MEDIA QUERIES */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .top-nav .container{
    margin-top: 1rem;
  }
  .social-icons a {
    display: inline-block;
  }
  
  /* Navbar */
  .navbar-toggler {
    display: none;
  }
  .collapse:not(.show) {
    display: block;
  }
  .navbar-nav {
    flex-direction: row;
    align-items: center;
  }
    .top-nav {
    display: block;
  }
  .grid{
    padding-top: 2rem;
  }
  #services .container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding-bottom: 5rem;
  }
  .card {
    height: 22rem;
    width: 22rem;
    flex-direction: column;
  }
  .card .info-text{
    display: block;
  }
  .card .circle {
    margin-top: 2rem;
  }
  .card p {
    font-size: 22px;
  }
 
  #showcase .container img {
    display: inline-block;
  } 
 #showcase .content .text {
    text-align: left;
    }
  #showcase .content {
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
  }
   #showcase .images-woman {
    width: 65%;
  } 
  
  .mobile-footer .container .footer-icons {
    display: none;
  }
  .c {
    display: block;
  }
  
  /* Appointment */
  #appointment .container{
  display: flex;  
  justify-content: space-between;  
  align-items: center;
  }
  #appointment .booking  {
    padding-top: 2.5rem;
    
  }
  .footer-icons {
    display: none;
  }
  
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
/* SHOWCASE */
#showcase .container img {
   display: block
  }
#showcase .container h1{
  text-align: left;
}
#showcase .container p{
  text-align: left;
  }
#showcase .text {
  text-align: left;
}
  /* ABOUT US */
  
  #about-us .container {
    margin-bottom: 0;
  }

  #about-us .container img {
    display: block;
  }

  #about-us .text {
    width: 45rem;
    color: #f0cfb6;
  }
  .survey-grid {
    background-color: var(--pri-background-color);
    flex-direction: row;
    justify-content: space-between;
    padding-right: 3rem ;
    padding-top: 2rem;
  }
  
  #about-us span{
    color: var(--primary-color);
    font-size: 30px;
    font-family: Roboto Slab;
    font-weight: normal;
  }
  
  #about-us h1{
    color: #363636;
    font-family: Roboto Slab;
    font-size: 30px;
    font-weight: normal;
    text-align: left;
   }
  
  #about-us .text p {
    color: #363636;
    font-family: Roboto;
    font-size: 18px;
    text-align: left;
   
  }
  #about-us .container .content hr{
    display: block;
    border: 0;
    border-radius: 10px;
    background:  var(--secondary-color);
    width: 550px;
    height: 3.5px;
    margin-left:17rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    transform: translate(-50%,-50%);
  }
  
/* OUR SERVICES */
  #services .container {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card .info-text{
    display: block;
  }
 }
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
}