@import './colors.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
  }
 
  /* HJÄLPKLASSER */

  .container {
    width: 100%;
    margin: auto;
    padding: 0 1rem;
  }
  .d-flex {
    display: flex;
    justify-content:space-between; 
    
  }

  .mt {
    margin-top: 1rem;
  }
  .p {
    /* padding: .5rem; */
  }

  .btn {
    padding: .75rem 2.5rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    outline: none;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 1rem;
    background-color: transparent;
    width: 100%;
  }
  .btn-primary {
    background-color: var(--primary-color);
    color: #fff;
  }
/* TOP MENU  */

.border {
  border: solid 1px blue;
}

.top-nav {
  border-color: #707070;
  display: none;
 }

 .top-nav .container,
 .navbar .container{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  background-color: var(--pri-background-color);
 }

.top-nav .container span {
  padding-right: .5rem;
  color: var(--primary-color);
}

.top-nav p{
  font-size: 16px;
  font-family: Roboto;
} 
 .social-icons a{
  margin-left: 2rem;
}
/* MAIN-MENU */

.navbar-nav {
  list-style: none;
  display: flex;
}
.navbar-nav li a {
text-decoration: none;
}

 .nav-link {
   margin-left: 2rem;
 }   
  
.collapse:not(.show) {
display: none;
}

.navbar-toggler{
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 2rem;
  margin-right: 2rem;
  color: var(--primary-color);
}
/* SHOWCASE */
#showcase {
  background: var(--shadowMan-color);
  background-size: cover;
  min-height: 50vh;
}

#showcase .container {
  display: flex;
  justify-content: space-around;
}
#showcase .container img {
  height: 500px;
  display: none;
}
.content {
  align-self: center;
  text-align: center;
  padding: 5rem;
}
.text {
  margin-bottom: 3rem;
  color: black;
}
.text h1 {
  font-size: 1.7rem;
  /* letter-spacing: .1em; */
  font-weight: normal;
  margin-bottom: 1rem;
}
.text p {
  font-size: 1.1rem;
  font-weight: 500;
}


/* ABOUT US */
.about-us {
  background-color: var(--pri-background-color);
  display: none;
  padding-top: 3rem;
}

.about-us .container img {
  height: 32rem;
  
}
.about-us .content {
  width: 55rem;
  height: 38rem;
 
}
.about-us .text {
  width: 45rem;
  margin-bottom: 3rem;
  color: #f0cfb6;
}
.about-us h1{
  color: #363636;
  font-family: Roboto Slab;
  font-size: 30px;
  font-weight: normal;
  text-align: left;
 }

.about-us .text p {
  color: #363636;
  font-family: Roboto;
  font-size: 19px;
  text-align: left;
}
.about-us .container .content hr{
  border: 0;
  border-radius: 10px;
  background:  var(--secondary-color);
  width: 550px;
  height: 3.5px;
  margin-left:17rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  transform: translate(-50%,-50%);
}
.survey-text {
  /* display: flex; */
  display: column;
}

/* SERVICES */




.grid{
  background-color: var(--sec-background-color);
  margin-bottom: 1rem;
}
.grid .rubrik{
  padding: 1rem;
  font-size: 30px;
  font-family: Roboto Slab;
  font-weight: normal;

}
.text span hr{
  border: 0;
  border-radius: 10px;
  background:  var(--secondary-color);
  width: 450px;
  height: 4px;
  margin-top: .5rem;
  margin-left: 50%;
  transform: translate(-50%,-50%);
}
.container .services {
  background-color: var(--sec-background-color);
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  
}

.card {
  border: 1px solid blue;
  border-radius: 10px;
  margin-left: .5rem;
  /* margin-right: 1rem; */
  background-color: var(--pri-background-color);
  position: relative;
  
}
.card p {
  font-size: 22px;
  font-family: Roboto Slab;
  font-weight: normal;
  
}

.card .info-text{
  display: none;
  font-size: 16px;
  font-family: Roboto;
  font-weight: normal;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1.5rem;
 
  
}
.circle {
  height: 80px;
  width: 80px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  background-color: var(--secondary-color);
  border-radius: 50%;
  position: relative;
}

.circle:hover{
  background-color: var(--primary-color);
}
.image {
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text {
  font-family: Roboto slab;
  font-size: 22;
  text-align: center;
}

p {
  font-size: 18px;
}

/* APPOINTMENT   */

.booking .btn-primary{
    background-color: var(--pri-background-color);
    color: var(--primary-color);
    margin-bottom: 2rem;
}
.appointment .container .text-to-book {
  background-color: rgb(43, 170, 236, 0.8);
  color: var(--pri-background-color);
}

.appointment .text-to-book {
  display: flex;
  justify-content: center;  
  color: var(--pri-background-color);
  padding: 2rem;
} 

.appointment .booking {
  display: flex;
  justify-content: center; 
  background-color: rgb(43, 170, 236, 0.8);
  color: var(--pri-background-color);
}
.appointment .btn {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 239px;
  height: 60px;
  font-size: 18px;
  font-family: Roboto;
  font-weight: bold;
  background-color: var(--pri-background-color);
  color: var(--primary-color);
  border: none;
  border-radius: 10px;
  }
/* FOOTER */

.social-icons {
  display: flex;
  justify-content: space-evenly;
  padding-top: .5rem;
  padding-bottom: .5rem;
  
}
.footer .social-icons a {
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}
.c {
  display: none;
  text-align: center;
  background-color: var(--primary-color);
  color: rgb(151, 205, 235);
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  /* Navbar */
  .navbar-toggler {
    display: none;
  }
  .collapse:not(.show) {
    display: block;
  }
  .navbar-nav {
    flex-direction: row;
  }
    .top-nav {
    display: block;
  }
  
  .container .services {
    grid-template-columns: 1fr 1fr;
    
  }
  .card {
    height: 22rem;
    width: 22rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    

  }

  .card .circle {
    margin-top: 2rem;
  }
  #showcase .container img {
    display: inline-block;
  } 
 .content {
    text-align: left;
  }
  .showcase .btn {
    width: auto;
  } 
  .social-icons {
    display: none;
  }
  .c {
    display: block;
  }
} 

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }


/* SHOWCASE */
  .showcase .container img {
    /* visibility: visible; */
    display: block
  }
.showcase .container h1{
  text-align: left;
}
.showcase .content{
  padding-left: 3rem;
}
.showcase .container p{
  text-align: left;
  }

  .card .info-text{
    display: block;
    
  }


  /* ABOUT US */
  .about-us {
    display: block;
  }

  .container .services {
    /* height: 1349;
    width: 100%; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

  }
  .card {
    /* height: 439px;
    width: 450px; */
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}